include ../Components/Header
block content
  br
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800=" تۆماری "+ profile[0]['cutomerID']['clientName']
      .container.col-md-4
        .row.height.d-flex.justify-content-center.align-items-center
          .col.md-6
            .search-box
              .input-group
                input#search.form-control(type='text' placeholder='گەڕان بەپێی ژمارەی تۆمار')
      .span
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm.text-white.m-2.disabled(href="/Profiles/Invoices/"+profile[0]['cutomerID']['_id'])
          i.fas.fa-file-invoice.fa-sm.text-white-50
          |  چاپکردنی تۆمارەکان
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-info.shadow-sm.text-white(href=Address+"/Clients/Register")
        //-     i.fas.fa-plus-square.fa-sm.text-white-50
        //-     |  Add New Product
    .row
      each item,i in invoices
        //- if item['_id']['status']=="Customer Request"
        #accordionExample.accordion

          //-   .accordion-item
          //-     h2(id="heading"+i).accordion-header
          //-       .row
          //-         button.btn-outline-warning.accordion-button(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
          //-           div="تۆماری ژمارە: "+item['_id']['recordCode']
          //-           .col-md-2="کۆی بەرهەم: "+item['count']
          //-           .col-md-3="تێچووی تۆمار: "+item['amount']
          //-           .col-md-3="بەروار: "+item['items'][0]['createdAt'].toLocaleString()
          //-           .col-md-3 
          //-             a.btn.btn-sm.btn-secondary.m-2( title="چاپکردنی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;"  href=address+"/Profiles/"+item['_id']['recordCode']+"/Print")
          //-               span.icon.text-white-50
          //-                 i.fas.fa-print
          //-     .accordion-collapse.collapse.hide(aria-labelledby="heading"+i data-mdb-parent='#accordionExample' id="collapse"+i)
          //-       .accordion-body
          //-         .container-fluid.table-responsive
          //-           table(id="clientTable").table.table-hover.table-sm.dt-responsive.table-striped
          //-             thead.thead-light
          //-               tr(scope='col' style="text-align:center; font-size:90%")
          //-                 th #
          //-                 th ناوی بەرهەم
          //-                 th بڕی پێوانە
          //-                 th ڕەنگ
          //-                 th بڕ
          //-                 th باری ئێستا
          //-                 th کۆی گشتی نرخ
          //-                 th بارهەڵگر 
          //-                 th تێبینی 
          //-                 th بەروار 
          //-                 th لەلایان 
          //-             tbody
          //-               - var json = JSON.stringify(invoices);
          //-               - var j=i;
          //-               each product,k in item['data']
          //-                 tr.note.note-warning
          //-                   td=item['_id']['recordCode']
          //-                   if product==undefined
          //-                     td پارەدان
          //-                     td(style="text-align:center;") 0
          //-                     td(style=`text-align:center;`) 0
          //-                     td(style="text-align:center;") 0
          //-                     td(style="text-align:center;")=item['items'][k]['status']
          //-                     td(style="text-align:center;")="$ "+item['items'][k]['totalPrice']
          //-                     td(style="text-align:center;") 0
          //-                     td(style="text-align:center;")=item['items'][k]['note']
          //-                     td(style="text-align:center;")=item['items'][k]['createdAt'].toLocaleString()
          //-                     td(style="text-align:center;")=item['items'][k]['addedBy']
          //-                   else 
          //-                     td=product['itemName']
          //-                     td(style="text-align:center;")=product['weight']+product['unit']
          //-                     td(style=`text-align:center; background-color:${product['color']}`)=product['color']
          //-                     td(style="text-align:center;")=item['items'][k]['totalQuantity']
          //-                     td(style="text-align:center;")=item['items'][k]['status']
          //-                     td(style="text-align:center;")="$ "+item['items'][k]['totalPrice']
          //-                     td(style="text-align:center;")=item['items'][k]['trailerNumber']
          //-                     td(style="text-align:center;")=item['items'][k]['note']
          //-                     td(style="text-align:center;")=item['items'][k]['createdAt'].toLocaleString()
          //-                     td(style="text-align:center;")=item['items'][k]['addedBy']
          //-                     td(style="text-align:center;")
          //-                       a.btn.btn-sm.btn-warning.m-2( title="نوێکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Records/Modification/"+item['_id']['recordCode']+"/"+product['_id'])
          //-                         span.icon.text-white-50
          //-                           i.fas.fa-pencil-alt
          //-                       a.btn.btn-sm.btn-danger.m-2( title="ڕەشکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Records/Delete/"+item['_id']['recordCode']+"/"+product['_id'])
          //-                         span.icon.text-white-50
          //-                           i.fas.fa-trash
          //- else                          
          .accordion-item
            h2(id="heading"+i).accordion-header
              .row
                if item['items'][0]['moneyStatus']=="Debut"
                  button.accordion-button.note.note-warning(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
                    div="تۆماری ژمارە: "+item['_id']['recordCode']
                    //- .col-md-2="کۆی بەرهەم: "+item['count']
                    .col-md-4="تێچووی تۆمار: "+item['amount']
                    .col-md-4="بەروار: "+item['items'][0]['createdAt'].toLocaleString()
                    .col-md-3 
                      a.btn.btn-sm.btn-secondary.m-2( title="چاپکردنی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Profiles/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID']+"/Print")
                        span.icon.text-white-50
                          i.fas.fa-print
                      a.btn.btn-sm.btn-danger.m-2( title="ڕەشکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Invoices/Delete/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID'])
                        span.icon.text-white-50
                          i.fas.fa-trash 
                else if item['items'][0]['status']=="Recovered"
                  button.accordion-button.note.note-secondary(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
                    div="تۆماری ژمارە: "+item['_id']['recordCode']
                    //- .col-md-2="کۆی بەرهەم: "+item['count']
                    .col-md-4="تێچووی تۆمار: "+item['amount']
                    .col-md-4="بەروار: "+item['items'][0]['createdAt'].toLocaleString()
                    .col-md-3 
                      a.btn.btn-sm.btn-secondary.m-2( title="چاپکردنی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Profiles/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID']+"/Print")
                        span.icon.text-white-50
                          i.fas.fa-print
                      a.btn.btn-sm.btn-danger.m-2( title="ڕەشکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Invoices/Delete/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID'])
                        span.icon.text-white-50
                          i.fas.fa-trash 
                else if item['items'][0]['status']=="Compensate"
                  button.accordion-button.note.note-success(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
                    div="تۆماری ژمارە: "+item['_id']['recordCode']
                    //- .col-md-2="کۆی بەرهەم: "+item['count']
                    .col-md-4="تێچووی تۆمار: "+item['amount']
                    .col-md-4="بەروار: "+item['items'][0]['createdAt'].toLocaleString()
                    .col-md-3 
                      a.btn.btn-sm.btn-secondary.m-2( title="چاپکردنی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Profiles/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID']+"/Print")
                        span.icon.text-white-50
                          i.fas.fa-print
                      a.btn.btn-sm.btn-danger.m-2( title="ڕەشکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Invoices/Delete/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID'])
                        span.icon.text-white-50
                          i.fas.fa-trash 
                else
                  button.accordion-button(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
                    div="تۆماری ژمارە: "+item['_id']['recordCode']
                    //- .col-md-2="کۆی بەرهەم: "+item['count']
                    .col-md-4="تێچووی تۆمار: "+item['amount']
                    .col-md-4="بەروار: "+item['items'][0]['createdAt'].toLocaleString()
                    .col-md-3 
                      a.btn.btn-sm.btn-secondary.m-2( title="چاپکردنی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Profiles/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID']+"/Print")
                        span.icon.text-white-50
                          i.fas.fa-print
                      a.btn.btn-sm.btn-danger.m-2( title="ڕەشکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Invoices/Delete/"+item['_id']['recordCode']+"/"+item['items'][0]['cutomerID'])
                        span.icon.text-white-50
                          i.fas.fa-trash 

            .accordion-collapse.collapse.hide(aria-labelledby="heading"+i data-mdb-parent='#accordionExample' id="collapse"+i)
              .accordion-body
                .container-fluid.table-responsive
                  table(id="clientTable").table.table-hover.table-sm.dt-responsive.table-striped
                    thead.thead-light
                      tr(scope='col' style="text-align:center; font-size:90%")
                        th #
                        th ناوی بەرهەم
                        th بڕی پێوانە
                        th ڕەنگ
                        th بڕ
                        th باری ئێستا
                        th کۆی گشتی نرخ
                        th تێبینی 
                        th بەروار 
                        th لەلایان 
                    tbody
                      if item['_id']['status']=="Compensate"
                        td=1
                        td پارەدان
                        td(style="text-align:center;") -
                        td(style=`text-align:center;`) -
                        td(style="text-align:center;") -
                        td(style="text-align:center;")=item['items'][0]['status']
                        td(style="text-align:center;")="$ "+item['items'][0]['sellPrice']
                        td(style="text-align:center;")=item['items'][0]['note']
                        td(style="text-align:center;")=item['items'][0]['createdAt'].toLocaleString()
                        td(style="text-align:center;")=item['items'][0]['addedBy']
                      else
                        each product,x in item['data']
                          each product,k in item['data']
                            //- - console.log(x+"//Invoice:"+item['items'][x]['productID'])
                            //- - console.log(k+"//Product:"+product['_id'])
                            if item['items'][x]['productID'].equals(product['_id'])
                              tr
                                td=x
                                td=product['itemName']
                                td(style="text-align:center;")=product['weight']+product['unit']
                                td(style="text-align:center;")=product['color']
                                td(style="text-align:center;")=item['items'][x]['totalQuantity']
                                td(style="text-align:center;")=item['items'][x]['status']
                                td(style="text-align:center;")="$ "+item['items'][x]['totalPrice']
                                td(style="text-align:center;")=item['items'][x]['note']
                                td(style="text-align:center;")=item['items'][x]['createdAt'].toLocaleString()
                                td(style="text-align:center;")=item['items'][x]['addedBy']
                                td(style="text-align:center;")
                                  a.btn.btn-sm.btn-warning.m-2( title="نوێکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Records/Modification/"+item['_id']['recordCode']+"/"+item['items'][x]['productID'])
                                    span.icon.text-white-50
                                      i.fas.fa-pencil-alt
                                  a.btn.btn-sm.btn-danger.m-2( title="ڕەشکردنەوەی تۆمار" style="padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;" href="/Records/Delete/"+item['_id']['recordCode']+"/"+item['items'][x]['productID'])
                                    span.icon.text-white-50
                                      i.fas.fa-trash