include ../components/Header
block content
  br
  .container
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800=title
      .span
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-secondary.shadow-sm.text-white.mr-2(type='button' data-toggle='modal' onclick="printDiv('printableArea')")
          i.fas.fa-print.fa-sm.text-white-50
          |  چاپکردن
    .jumbotron
      .row
        .container-fluid.table-responsive
          .container(id="printableArea")
            each item,i in records
              .card
                .card-header(style='background-color: black;')
                .card-body
                  .p-4.shadow-4.rounded-3(style='background-color: hsl(0, 0%, 94%);')
                    .container
                      .row.col-12
                        .col-3
                          h2 تیتان سێرڤس
                          br
                          h6 لەلایان:
                          div
                            strong=item['updatedBy']
                          //- div Madalinskiego 8
                          strong="بار: "+"فرۆشتن"
                          //- div Email: info@dotnettec.com
                          //- div Phone: +964 750 000 00 00
                        .col-5
                          img#icon(src='https://i.ibb.co/Jj7wYNW/titan-removebg-preview.png' width=250).mx-auto.d-block
                        .col-4
                          h2 Titan Service
                          br
                          h6 بۆ:
                          div
                            strong=profile['companyName']+" / "+profile['clientName']
                          //- div Attn: Daniel Marek
                          //- div Email: robert@daniel.com
                          div="ژمارەی مۆبایل: "+profile['phoneNumber']
                  hr
                  .table-responsive-sm
                    table.table.table-striped(id="invoiceTable")
                      thead
                        tr(style="text-align:center; font-size:100%;font-weight:bold")
                          th(style="width:2%").center #
                          th ناوی بەرهەم
                          th جۆری بەرهەم
                          th جۆری بەرهەم
                          th ڕەنگ
                          th پێوانە
                          th(style="width:3%") ژمارە
                          th.right نرخی تاک
                          th.right کۆی گشتی
                      tbody
                        - var j=i+1
                          tr((style="text-align:center; font-size:100%;font-weight:bold"))
                            if records[i]['productID']==undefined
                              td=j
                              td پارەدان
                              td 
                              td 
                              td 
                              td 
                              td 
                              td 
                              td
                              td="$ "+records[i]['totalPrice']
                            else 
                              td=j
                              td=records[i]['productID']['itemModel']
                              td=records[i]['productID']['itemName']
                              td=records[i]['productID']['itemType']
                              td=records[i]['productID']['color']
                              td=records[i]['productID']['itemUnit']
                              td=records[i]['totalQuantity']
                              td="$ "+records[i]['sellPrice']
                              td="$ "+records[i]['totalPrice']*records[i]['totalQuantity']
                  .row
                    .col-md-7
                      b تێبینی
                      textarea.form-control.rounded-0(rows='5' cols='80' id='note' readonly)
                    .col-5.ml-auto
                      table.table.table-clear(id="totalPayment")
                        tbody
                          //- tr
                          //-   td.left
                          //-     strong کۆی گشتی تۆمار
                          //-   td(id="subtotal").right 0
                          tr
                            td.left
                              strong قەرزی پێشوو
                            td(id="olddebut").right=records[i]['oldDebut']
                          //- tr
                          //-   td.left
                          //-     strong داشکان
                          //-   td.right
                          //-     input(type="number" id="discount" value="0")
                          tr
                            td.left
                              strong قەرزی ئێستا
                            td.right(id="total")=records[i]['totalPrice']
                          tr
                            td.left
                              strong کۆی گشتی (دۆلار)
                            td.right
                              strong(id="finalPrice") 0
                  hr
                    .row 
                      .col-3 
                        span="ژمارەی تۆمار: "+invoiceID
                      .col-4
                        -var today = new Date();
                        -var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                        -var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                        -var dateTime = date+' '+time;
                        span="بەروار: "+dateTime.toLocaleString()
                      .col-5
                        span="ناونیشان: "+"هەولێر - گەڕەکی ڕاستی - کۆڵانی بەرامبەر کۆڵێژی ئەندازیاری"    

        script.
          function printDiv(divName) {
          var printContents = document.getElementById(divName).innerHTML;
          var originalContents = document.body.innerHTML;

          document.body.innerHTML = printContents;

          window.print();

          document.body.innerHTML = originalContents;
          }
