include ../Components/Header
block content
    br
    .container-fluid
        // Page Heading
        //- .d-sm-flex.align-items-left.justify-content-between.mb-4
        //-   h1.h3.mb-0.text-gray-800=title
        //-   .span
        //-     //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white.mr-2(id="backup" onclick="backupAll()")
        //-     //-   i.fas.fa-database.fa-sm.text-white-50
        //-     //-   |  Backup Hotspots
        //-     a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white(href="/Profiles/AddNew")
        //-       i.fas.fa-plus-square.fa-sm.text-white-50
        //-       |  زیادکردنی کڕیاری نوێ
        .row
            #accordionExample.accordion
                each item,i in trailers
                    .accordion-item
                        h2(id="heading"+i).accordion-header
                            .row
                                button.accordion-button(type='button' data-mdb-toggle='collapse' data-mdb-target='#collapse'+i aria-expanded='true' aria-controls='collapse'+i)
                                    .col-md-1="بارهەڵگری ژمارە: "+item['_id']['trailerNumber']
                                    .col-md-2="کۆی بەرهەم: "+item['count']
                                    .col-md-3="تێچووی بارهەڵگر: "+item['amount']
                                    .col-md-4="بەروار: "+item['items'][0]['createdAt'].toLocaleString()
                        .accordion-collapse.collapse.hide(aria-labelledby="heading"+i data-mdb-parent='#accordionExample' id="collapse"+i)
                            .accordion-body
                                .container-fluid.table-responsive
                                    table.table.table-hover.table-sm.dt-responsive.table-striped
                                        thead.thead-light
                                            tr(style="text-align:center; font-size:3 rem")
                                                th(scope='col') #
                                                th(scope='col') بڕاندی بەرهەم
                                                th(scope='col') ناوی بەرهەم
                                                th(scope='col') کۆمپانیای وەبەرهێن
                                                th(scope='col') پێوانەی تاک
                                                th(scope='col') جۆری بەرهەم
                                                th(scope='col') شوێنی بەکارهێنان
                                                th(scope='col') بڕی پێوانە
                                                th(scope='col') نرخی هاتوو
                                                th(scope='col') نرخی کۆمپانیا
                                                th(scope='col') بڕی هاتوو
                                                th(scope='col') ڕەنگ
                                                th(scope='col') کۆی نرخ
                                        tbody
                                            each data,j in item['items']
                                                -var index=j+1
                                                tr(style="font-weight:bold; font-size:2 rem")
                                                    td(style="text-align:center;")=index
                                                    td(style="text-align:center;")=data['itemModel']
                                                    td(style="text-align:center;")=data['itemName']
                                                    td(style="text-align:center;")=data['manufacturerCompany']
                                                    td(style="text-align:center;")=data['itemUnit']
                                                    td(style="text-align:center;")=data['itemType']
                                                    td(style="text-align:center;")=data['usedIn']
                                                    td(style="text-align:center;")=data['weight']
                                                    td(style="text-align:center;")=data['camePrice']
                                                    td(style="text-align:center;")=data['sellPrice']
                                                    td(style="text-align:center;")=data['totalQuantity']
                                                    td(style="text-align:center;")=data['color']
                                                    td(style="text-align:center;")=parseFloat(data['totalQuantity'])*parseFloat(data['camePrice'])